.site-wrapper {
  min-height: 100%;
  margin-bottom: -$footerHeight;

  &::after {
    display: block;
    content: "";
    height: $footerHeight;
  }
}

.container {
  margin: 0 auto;
  max-width: $max_width;
  width: 90%;
}

.section-padding {
  padding-top: 60px;

  @include mappy-bp(tablet-horiz) {
    padding-top: 120px;
  }
}
