.site-wrapper {
  margin-bottom: -$footerHeight;
  min-height: 100%;

  &::after {
    content: "";
    display: block;
    height: $footerHeight;
  }
}

.container {
  margin: 0 auto;
  max-width: $max_width;
  width: 90%;
}

.section-padding {
  padding-top: 60px;

  @include mappy-bp(tablet-horiz) {
    padding-top: 120px;
  }
}

.strikethrough {
  text-decoration: line-through;
}
