.mastfoot {
  display: block;
  height: $footerHeight;

  .container {
    display: flex;
    background-color: $text;
    height: $footerHeight;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    align-items: center;
    padding: 0 50px;
  }

  @include mappy-bp(720px) {
    .container {
      flex-direction: row;
      justify-content: space-between;
    }
  }
}

.social-info {
  display: none;

  @include mappy-bp(720px) {
    display: block;

    li {
      display: inline-block;
      margin-left: 16px;
      vertical-align: middle;

      &:first-child {
        margin-left: 0;
      }
    }

    a {
      display: block;
      opacity: .25;
      transition: ease all .3s;

      &:hover {
        opacity: 1;
      }
    }
  }

  @include mappy-bp(tablet-vert) {
    li {
      margin-left: 20px;
    }
  }
}

.social-icon {
  img {
    height: 20px;
  }

  @include mappy-bp(tablet-vert) {
    img {
      height: 22px;
    }
  }
}

.footer-info {
  span {
    font-size: 12px;
    text-align: center;
    display: block;
  }

  a {
    font-weight: $bold;

    &:hover {
      text-decoration: underline;
    }
  }
}
