.masthead {
  padding: 20px 0;
  position: relative;
  z-index: 99;
  background-color: $brand;

  .container {
    position: relative;
  }

  @include mappy-bp(tablet-vert) {
    padding-top: 20px;

    .container {
      align-items: center;
      display: flex;
      justify-content: space-between;
    }
  }
}

.header-info {
  align-items: center;
  display: flex;
}

.site-logo {
  background-image: url(https://res.cloudinary.com/standingdreams/image/upload/sdsite/svg/logo-v2.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 35px auto;
  height: 40px;
  overflow: hidden;
  position: relative;
  text-indent: 10000%;
  white-space: nowrap;
  width: 35px;

  @include mappy-bp(tablet-vert) {
    background-size: 50px auto;
    height: 75px;
    width: 50px;
  }
}

.author-name {
  align-items: center;
  display: flex;

  &::before {
    background-color: #fff;
    content: "";
    height: 28px;
    margin: 0 20px;
    vertical-align: middle;
    width: 2px;
  }

  @include mappy-bp(tablet-vert) {
    height: 36px;
  }
}

.main-nav {
  display: none;

  @include mappy-bp(tablet-vert) {
    background-color: transparent;
    display: block;
    height: auto;
    position: static;
    width: auto;

    ul {
      align-items: center;
      display: flex;
      justify-content: space-between;
    }

    li {
      @include to_em(18px);
      margin-left: 30px;
      padding: 22px 0;
      text-transform: none;

      &:first-child {
        margin-left: 0;
      }
    }

    a {
      border-bottom: 2px solid transparent;
      display: block;
      transition: ease all 0.3s;

      &.selected,
      &:hover {
        border-bottom: 2px solid #fff;
      }
    }
  }

  @include mappy-bp(tablet-horiz) {
    li {
      margin-left: 50px;
    }
  }
}

.mobile-nav {
  background-color: $text;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: -200%;
  transition: ease all 0.5s;
  width: 100%;
  z-index: 90;
  padding-top: 20px;

  li {
    @include to_em(24px);
    font-weight: $medium;
    text-transform: uppercase;
  }

  a {
    display: block;
    padding: 12px 5%;
  }

  @include mappy-bp(max tablet-vert) {
    .show-nav & {
      top: 80px;
    }
  }

  @include mappy-bp(tablet-vert) {
    display: none;
  }
}

.mobile-social {
  position: relative;
  padding-top: 20px;
  margin-top: 20px;

  &::before {
    content: "";
    height: 2px;
    width: 20%;
    background-color: #fff;
    display: block;
    position: absolute;
    top: 0;
    left: 5%;
  }

  a {
    color: $brand;
    padding: 6px 5%;
  }
}

#burger {
  appearance: none;
  background-color: $brand;
  border: none;
  cursor: pointer;
  display: block;
  height: 50px;
  margin-top: -25px;
  outline: none;
  position: absolute;
  right: 0;
  top: 50%;
  transition: ease all 0.3s;
  width: 50px;
  z-index: 99;

  .bar,
  .bars {
    position: absolute;
  }

  .bars {
    transition: ease transform 0.3s;
    height: 16px;
    left: 50%;
    margin-left: -10px;
    margin-top: -8px;
    top: 50%;
    width: 20px;
    will-change: transform;
  }

  .bar {
    background: #fff;
    display: block;
    height: 2px;
    width: 100%;
    transition: transform 0.4s, margin 0.4s, opacity 0.4s, background 0.3s;
  }

  .bar2 {
    transform: translateY(7px);
  }

  .bar3 {
    transform: translateY(14px);
  }

  &:focus {
    outline: 0;
  }

  .show-nav & {
    .bars {
      transform: translateY(7px);
    }

    .bar1 {
      transform: rotate(45deg);
    }

    .bar2 {
      opacity: 0;
    }

    .bar3 {
      transform: rotate(-45deg);
    }
  }

  @include mappy-bp(tablet-vert) {
    display: none;
  }
}
