.profile {
  &__block {
    &--last {
      margin: 80px 0;
    }
  }

  &__aboutContent {
    .container {
      column-gap: 24px;
      display: grid;
      grid-auto-rows: auto;
      grid-template-columns: repeat(2, 1fr);
      row-gap: 24px;

      @include mappy-bp(tablet-vert) {
        row-gap: 40px;
        column-gap: 40px;
        grid-template-columns: repeat(2, 1fr);
      }

      @include mappy-bp(laptop) {
        grid-template-columns: repeat(3, 1fr);
      }
    }

    .el-h1 {
      margin-bottom: 30px;
    }
  }

  &__aboutWrap {
    grid-column: 1 / span 2;
    max-width: 620px;
  }

  &__capabilities {
    margin: 65px 0;

    @include mappy-bp(tablet-vert) {
      margin: 80px 0;
    }
  }

  &__grid {
    column-gap: 24px;
    display: grid;
    grid-auto-rows: auto;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 30px;
    row-gap: 24px;

    @include mappy-bp(tablet-vert) {
      row-gap: 40px;
      column-gap: 40px;
      grid-template-columns: repeat(2, 1fr);
    }

    @include mappy-bp(laptop) {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &__grid-item {
    grid-column: 1 / span 2;

    @include mappy-bp(tablet-vert) {
      grid-column: auto / auto;
    }
  }

  &__proposal {
    margin-top: 25px;
    max-width: 620px;
    margin-bottom: 60px;

    strong {
      color: $text;
    }

    @include mappy-bp(tablet-vert) {
      margin-top: 60px;
    }

    .el-h1 {
      margin-bottom: 24px;

      @include mappy-bp(tablet-vert) {
        margin-bottom: 30px;
      }
    }

    &:first-of-type {
      margin-top: 0;
    }
  }

  &__contact {
    padding: 50px 0;
    overflow: hidden;

    .container {
      padding-left: 50px;
      position: relative;

      &::after {
        content: "";
        display: block;
        height: 212px;
        width: 10000%;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        z-index: -1;
        background-color: #1a1a1a;
        position: absolute;
        // padding: 50px;

        @include mappy-bp(tablet-vert) {
          height: 170px;
        }
      }

      @include mappy-bp(tablet-vert) {
        align-items: center;
        display: flex;
        justify-content: flex-start;
      }
    }

    .el-h5 {
      color: #fff;
      margin-bottom: 15px;

      @include mappy-bp(tablet-vert) {
        margin-bottom: 0;
        margin-right: 40px;
      }
    }

    .link {
      margin-left: 20px;
      text-decoration: underline;
      font-size: 16px;
    }
  }
}
