.profile {
  &__block {
    &--last {
      margin: 80px 0;
    }
  }

  &__aboutContent {
    margin-bottom: 65px;

    .container {
      column-gap: 24px;
      display: grid;
      grid-auto-rows: auto;
      grid-template-columns: repeat(2, 1fr);
      row-gap: 24px;

      @include mappy-bp(tablet-vert) {
        row-gap: 40px;
        column-gap: 40px;
        grid-template-columns: repeat(2, 1fr);
      }

      @include mappy-bp(laptop) {
        grid-template-columns: repeat(3, 1fr);
      }
    }

    .el-h1 {
      margin-bottom: 30px;
    }
  }

  &__aboutWrap {
    grid-column: 1 / span 2;
    max-width: 620px;
  }

  &__capabilities {
    margin: 65px 0;

    @include mappy-bp(tablet-vert) {
      margin: 80px 0;
    }
  }

  &__grid {
    column-gap: 24px;
    display: grid;
    grid-auto-rows: auto;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 30px;
    row-gap: 24px;

    @include mappy-bp(tablet-vert) {
      row-gap: 40px;
      column-gap: 40px;
      grid-template-columns: repeat(2, 1fr);
    }

    @include mappy-bp(laptop) {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &__grid-item {
    grid-column: 1 / span 2;

    @include mappy-bp(tablet-vert) {
      grid-column: auto / auto;
    }
  }

  &__proposal {
    margin-top: 25px;
    max-width: 620px;
    margin-bottom: 60px;

    strong {
      color: $text;
    }

    @include mappy-bp(tablet-vert) {
      margin-top: 60px;
    }

    .el-h1 {
      margin-bottom: 24px;

      @include mappy-bp(tablet-vert) {
        margin-bottom: 30px;
      }
    }

    &:first-of-type {
      margin-top: 0;
    }
  }

  &__contact {
    padding: 50px 0;
    overflow: hidden;

    .container {
      padding-left: 20px;
      position: relative;

      @include mappy-bp(tablet-vert) {
        padding-left: 50px;
      }

      &::after {
        content: "";
        display: block;
        height: 212px;
        width: 10000%;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        z-index: -1;
        background-color: #1a1a1a;
        position: absolute;
        // padding: 50px;

        @include mappy-bp(tablet-vert) {
          height: 170px;
        }
      }
    }

    .el-h5 {
      color: #fff;
      margin-bottom: 15px;

      @include mappy-bp(tablet-vert) {
        margin-bottom: 0;
        margin-right: 40px;
      }
    }

    .link {
      margin-left: 20px;
      text-decoration: underline;
      font-size: 16px;
    }
  }

  &__social {
    margin-top: 10px;

    ul {
      align-items: center;
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
    }

    li {
      margin-left: 12px;

      &:first-child {
        margin-left: 0;
      }
    }

    a {
      background-color: #f3f3f3;
      color: $text;
      display: block;
      font-size: 1.2rem;
      padding: 6px 10px;
      line-height: 1.6em;
      border-radius: 8px;

      @include mappy-bp(tablet-vert) {
        font-size: 1.6rem;
        padding: 6px 14px;
      }

      &:hover {
        background-color: $brand;
        color: #f3f3f3;
      }
    }
  }

  &__form {
    display: grid;
    column-gap: 50px;
    grid-auto-rows: auto;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 50px;
    margin-bottom: 100px;

    input,
    textarea {
      border: 0;
      appearance: none;
      background-color: #FFFFFF;
      border-radius: 8px;
      width: 100%;
      display: block;
    }

    label {
      display: block;
    }

    input {
      height: 64px;
    }

    &Textarea {
      grid-column: 1 / span 2;

       textarea {
        height: 235px;
       }
    }
  }
}
