.btn {
  border-radius: 2px;
  display: block;
  font-size: 18px;
  line-height: 1;
  padding: 18px 0;
  text-align: center;
  width: 200px;
}

.btn1 {
  background-color: $brand;
  border: 2px solid #fff;
  color: #fff;
  text-transform: uppercase;
  transition: ease all 0.3s;

  @include mappy-bp(tablet-vert) {
    &:hover {
      background-color: #fff;
      color: $text;
    }
  }
}

.btn2 {
  background-color: $text;
  color: white;
  cursor: default;
  width: auto;
  padding: 18px;
  text-transform: uppercase;
}

.btn3 {
  background-color: $brand;
  border: 2px solid #fff;
  color: #fff;
  transition: ease all 0.3s;
  padding: 12px 24px;
  width: auto;
  display: inline-block;

  @include mappy-bp(tablet-vert) {
    &:hover {
      background-color: #fff;
      color: $text;
    }
  }
}

.el-btn {
  display: inline-block;

  &--solid {
    padding: 20px 48px;
    font-size: 1.25em;
  }

  &--solid-white {
    @extend .el-btn--solid;
    text-transform: uppercase;
    background-color: #fff;
    border: 2px solid #fff;

    &:hover {
      background-color: #000;
      color: white;
    }
  }
}
